<form>


    <span data-bind="text: errmes" ></span>
    <div class="form-group">
        <label >From Date:</label>
        <input type="date" class="form-control" data-bind="value= fromDate" />
    </div>

    <div class="form-group">
        <label >To Date:</label>
        <input type="text" class="form-control" id="toDate" data-bind="value= toDate" />
    </div>


</form>
