<div class="container">
    <h2>BankHolidays</h2>
 
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Month</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: newBanks">
          
            <tr>
                <td data-bind="text: Description()"></td>
                <td data-bind="text: Month()"></td>
                <td data-bind="text: Day()"></td>
              <td><button type="button" class="btn btn-primary btn-md" data-toggle="modal">Edit</button></td>>
            </tr>
        </tbody>
    </table>

</div>