@model HolidayManagement.Models.DashboardViewModels


@{
    ViewBag.Title = "_Users";

}


<h1> Users</h1>



<div class="container">
    
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" data-bind="click: $root.createButtons.bind($data, false)">Create New User</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" data-bind="visible: isVisibleModal">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New User</h4>
                </div>
                <div class="modal-body" >
                   @Html.Partial("_CreateUser")
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-bind="click: editUser,visible: isVisibleEdit">Edit</button>
                    <button type="submit" class="btn btn-default" data-bind="click: createUser,visible: isVisibleCreate">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="container">
   
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Lastname</th>
                    <th>Firstname</th>
                    <th>Hiredate</th>
                    <th>Maxdays</th>
                    <th>Email</th>
         
                </tr>
            </thead>
            <tbody data-bind="foreach: users">
                <tr>
                    <td data-bind="text: firstName"></td>
                    <td data-bind="text: lastName"></td>
                    <td data-bind="text: hireDate"></td>
                    <td data-bind="text: maxDays"></td>
                    <td data-bind="text: email"></td>
                  
                    <td><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" data-bind="click: $root.createButtons.bind($data,true)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



